{% extends "base.html" %}

{% load staticfiles %}


{% block navbar %}

{% include 'navbar.html' %}

{% endblock navbar %}

{% block content %}
<br/>
<br/>
<div class='col-sm-8 col-sm-offset-2'>

{% if empty %}

<h1 style='text-align:center;'>{{ empty_message }}</h1>

{% else %}

<h1>Tu carrito</h1>

<table class='table'>
<thead>
<th>Servício</th>
<th>Precio</th>
<th></th>
</thead>
<tfoot>
  <tr>
  <td></td>
  <td></td>
  <td>Total: {{ cart.total }}</td>
  </tr>
</tfoot>
{% if cart.service %}
<tr><td>{{ cart.service }}</td><td>{{ cart.service.price }}</td><td><a href='{% url "update_cart" cart.service.slug %}'>Quitar</a></td></tr>
{% endif %}
</table>

<br/>
<a href='{% url "checkout" %}'>Suelta pasta!</a>

{% endif %}

</div>
{% endblock content %}
